@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Source Sans 3";
    src: url("/fonts/source_sans_3/SourceSans3-VariableFont_wght.ttf");
}

@layer base {
    :root {
        background-color: #ebf3f6;
    }
}

@layer components {
    .default-width {
        @apply mx-8 lg:mx-32;
    }

    .primary-button {
        @apply border-highlight-dark drop-shadow-solid-dark bg-highlight h-fit w-fit rounded-lg border-2 px-4 py-2 font-bold text-white;
    }

    .default-button {
        @apply border-highlight text-highlight drop-shadow-solid bg-dark-teal w-fit rounded-lg border-2 px-3 py-2 font-bold;
    }
}
